/* BASE STYLES */
body {
  background-color: rgba(2, 85, 43, 0.699);
  margin-bottom: 100px;
}

/* LOCAL NAVBAR STYLES, BOOTSTRAP OVERRIDES BELOW */
#logoText{
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: white;
  margin-left: 5%;
  margin-top: 0%;
}

#logoCoin{
  height: 50px;
  width: 50px;
  display: inline-block;
}

/* TICKER FEATURE */
#tickerLogo {
  width: 130px;
}

#ticker {
  font-size: 20px;
  font-weight: bold;
}

marquee {
  width: 100%;
  margin: 0;
  padding: 0;
}

marquee .coin-name{
  color: rgb((0, 0, 0), 80, 50);
  font-size: 30px;
}

marquee .coin-price {
  color: rgb(0, 19, 128);
}

/* RANKINGS FEATURE */
#top50 {
  text-align: justify;
  height: 630px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.public-tile {
  width: 33%;
  height: 80px;
  margin-bottom: 10px;
  display: inline-block;
  box-sizing: content-box;
  text-align: center;
}

.tile-content {
  display: block;
  border: 1px solid rgba(63, 109, 86, .6);
  box-shadow: 4px 4px 1px rgba(63, 109, 86, .6);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.tile-content:hover {
  background-color: rgba(0, 0, 0, .05);
  text-decoration: none !important;
}

.tile-image {
  margin-bottom: 2px;
  width: 32px;
  height: 32px;
}

.tile-text {
  margin: 0;
  padding: 0;
}

/* MODAL STYLES */

.modal-title .modalIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: -4px;
}

.modal-price {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.modal-symbol {
  font-size: 12px;
  color: #666;
  margin-left: 4px;
  vertical-align: 4px;
}

.modal-currency {
  font-size: 12px;
  font-weight: normal;
  vertical-align: 16px;
}

.modal-symbol::before, .modal-currency::before {
  content: "(";
  vertical-align: 1px;
}

.modal-symbol::after, .modal-currency::after {
  content: ")";
  vertical-align: 1px;
}

.modal-change-value {
  font-size: 22px;
  font-weight: bold;
  color: green;
}

.market-table .red {
  color: red;
}

.market-table th, td {
  text-align: center;
}

.selected{
  display: none;
} 

#icons img{
  width: 60px;
}

/* NEWSFEED FEATURE */
#newsfeed {
  margin-top: 10px;
  height: 586px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#newsfeed .resultCount {
  text-align: center;
  color: #bbb;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#newsfeed .article {
  display: table;
}

#newsfeed .resultPhoto {
  display: table-cell;
}

#newsfeed img {
  width: 60px;
  height: 60px;
  margin-top: 3px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

#newsfeed .resultHeadline {
  display: table-cell;
  vertical-align: top;
}

#newsfeed .resultHeadline a {
  text-decoration: none;
  font-size: 14px;
}

/* USER CENTER TABS */
.tab-pane {
  margin-top: 40px;
}

#myChart {
  background-color: whitesmoke;
  width: 100%;
  height: 0px;
  margin-top: 5px;
  margin-bottom: 40px;
}

/* BOOTSTRAP OVERRIDES */
.navbar {
  background-color: rgb(63, 109, 86);
  border-color: rgb(63, 109, 86);
  border-radius: 0px;
  padding: 10px 0px;
}

.navbar-brand {
  font-family: "Bangers", sans-serif;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 3px;
  float: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #efefef;
}

hr {
  margin: 10px 0px;
}

.glyphicon-new-window {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: 1px;
}

.nav-tabs>li>a {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(63, 109, 86);
}

.nav-tabs>li>a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-color: transparent;
}


/* Box for basic info */

#marketcapbox {
  background-color: rgb(63,109,86);
  color: whitesmoke;
}

li {
  display: inline;
  margin: 20px;
  font-weight: bold;
}

/* footer */
#team {
  background-color: rgb(63,109,86);
}

@media screen and (max-width: 600px) {
  .public-tile {
    width: 100%;
  }
}