/* MODULES, WIDGETS, ETC.  */
marquee {
  width: 100%;
  margin: 0;
  padding: 0;
}

#ticker {
  font-size: 20px;
  font-weight: bold;
}

#newsfeed {
  height: 470px;
  overflow: scroll;
}

#newsfeed .article {
  display: table;
  margin-top: 20px;
}

#newsfeed .resultPhoto {
  display: table-cell;
}

#newsfeed img {
  width: 60px;
  height: 60px;
  margin-top: 3px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

#newsfeed .resultHeadline {
  display: table-cell;
  vertical-align: top;
}

#newsfeed .resultHeadline a {
  text-decoration: none;
  font-size: 16px;
}

/* PUBLIC DASHBOARD */

.modalIcon {
  margin-right: 10px;
}
/* USER DASHBOARD */


/* BOOTSTRAP OVERRIDES */
.container .jumbotron {
  margin: 20px 0px;
  padding: 0px 20px;
}
.public-tile {
  border: 1px solid;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 10px rgb(0, 0, 0);
  max-width: 120px;
  border-radius: 10px;
  display: inline-block;
  height: 90px;
  width: 90px;
  box-sizing: content-box;
}
#id {
  display: table;

}
.user-tile {
  border: 1px solid;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 10px red;
  max-width: 120px;
  border-radius: 10px;
  display: inline-block;
  height: 90px;
  width: 90px;
  box-sizing: content-box;
  
  
}

.selected{
  display: none;
  } 

  #icons img{
    width: 60px;
  }