/* MODULES, WIDGETS, ETC.  */
marquee {
  width: 100%;
  margin: 0;
  padding: 0;
}

#ticker {
  font-size: 20px;
  font-weight: bold;
}

#newsfeed {
  height: 262px;
  overflow: scroll;
}

#newsfeed .article {
  display: table;
}

#newsfeed .resultPhoto {
  display: table-cell;
}

#newsfeed img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

#newsfeed .resultHeadline {
  display: table-cell;
  vertical-align: top;
}

#newsfeed hr {
  margin: 20px 0px;
}

/* PUBLIC DASHBOARD */


/* USER DASHBOARD */


/* BOOTSTRAP OVERRIDES */
.container .jumbotron {
  margin: 20px 0px;
  padding: 0px 20px;
}
#public-tile {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  max-width: 120px;
  border-radius: 10px;
}
#user-tile {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;
  max-width: 120px;
  border-radius: 10px;
  
  
}